body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscaoe');
    
}

.card {
    background: #000000d0;
    color: #fff;
    padding: 2em;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    border-radius: 30px;
    
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

button {
    margin: .50em;
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    outline: none;
    background: #7c7c7c2b;
    color: #ffff;
    cursor: pointer;
    transition: .25s ease-in-out;
}


input.search-bar {
    border: none;
    border: none;
    outline: none;
    border-radius: 23px;
    padding: 0.5em 1em;
    background: #7c7c7c2b;
    color: #fff;
    font-size: 83%;
    font-family: inherit;
    width: calc(100% - 110px);
    
}

.description{
    text-transform: capitalize;
}

